img {
    max-width: 10%;
    height: auto;
    }
    body, p, h1, h2, h3, h4, h5, h6, a {
        font-family: Lato;
        text-decoration: none;
      }
      ul, li { list-style: none; margin: 0; padding: 0}
      .cursor { cursor: pointer;}
      html, body{ margin: 0; padding: 0 0 50px 0;}
      .container{ max-width: 1000px; margin: 0 auto;}
      .header{ background: #0A5485;padding: 25px 15px;color: #fff;height:30px;}
      .clear{ display: inline-block; clear: both;}
      .logo{ float: left; }
      .logo a{ font-size: 20px; margin: 0; color: #fff;}
      .navbar{ float: right;}
      .navbar ul li { display: inline-block; margin: 0 2px;} 
      .navbar ul li a{ padding: 8px; color: #fff; border-radius: 5px;}
      .navbar ul li a:hover, .navbar ul li a.active{ background: #fff; color: #2a6496; }
      